[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "dccpp"]
	path = dccpp
	url = https://github.com/berrij/dccpp
	shallow = true
	registered = true
[submodule "profoc"]
	path = profoc
	url = https://github.com/berrij/profoc
	shallow = true
	registered = true
[submodule "UnitCircle"]
	path = UnitCircle
	url = https://github.com/berrij/unitcircle
	shallow = true
	registered = true
